* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    color: white;
}
.socials {
    background-color: #333333;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;

}
.header {
    background-color: black;
    height: 150px;
    display: flex;
    align-items:center;
    justify-content: space-around;

    
    

    height: 60px;
}
.nav ul {
   
    list-style: none;
    display: flex;
    margin-top: 16px;
    margin-left: 350px;
   


 
 
    font-size: 23px;
}
.nav ul li {
    
    list-style-type: none;
	display: inline-block;

}
.navbar{
    color: white;
}

a  {
    color: white !important; 
    font-size: 23px;
}

#imglogo {
    max-height: 30px;
    max-width: 30px;
}

@media (max-width: 600px) {
    .nav ul {
        margin-left: 0px;
    }
}

@media (max-width: 800px) {
    .nav ul {
        margin-left: 0px;
    }
}


.spoznaj {
    color: white;
}
.hero h2 {
    font-size: 60px;
}
.hero a {
    font-size: 40px;
    list-style-type: none;
    transition: transform .4s; 
}
.hero a:hover {
    transform:rotate(10deg);
}

.hero::after {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15%;
  }
.hero  {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15%;
}
video {
 position:absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 80%;
 object-fit: cover;
 opacity: 1;
 z-index: -1;
}

.aktualno {
    margin: 20% 20% 0% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: groove 1px;
    border-bottom: groove 1px;
    
  
}
.informacije {
    flex-wrap: wrap;
    max-width: 40%;

}

.informacije h1, p {
    padding-bottom: 20px;
}

.informacije span {
    padding-top: 20px;
}



#telefonska {
    color: rgb(43, 43, 168);
    display: inline-block;
    font-size: 33px;
    padding-top: 20px;
    
}

#mma {
    color:rgb(43, 43, 168);
}

.tehnike {
    margin: 3% 20% 3% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: groove 1px;
    border-bottom: groove 1px;
}

.udarci {
    margin-bottom: 30px;
    margin-left: 10px;
}

.galerija {
    margin: 0% 20% 3% 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: groove 1px;
    border-bottom: groove 1px;
}
.galerija h1 {
    margin-left: 40%;
}

.slike {
    margin-top: 3%;
    margin-left: 6%;
    padding-bottom: 30px;
}
.slike img {
    margin-bottom: 3%;
    margin-right: 3%;
    transition: ease-in-out 1s;
}

.slike img:hover {
    transform: scale(1.2);
}

.kontaktnipodatki {
    margin: 0% 20% 3% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: groove 1px;
    border-bottom: groove 1px;
}
.logospodaj img {
    margin-left: 20%;
}

.footer h1 {
    color: white;
    font-size: 16px;
    margin-top: 3px;

}

footer {

    background-color: #333333;
    margin-bottom: 0px;

    width: 100%;
    height: 30px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    margin-top: -30px;
}
