html, body {
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    
}

/*typography*/

h1, h2, h3{
    text-align: center;
}
/* Header Section */
.header-inner {
    background-color: #67595E;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
   
}
/* Header Image */
.pumpkin-cat {
    width: 100px;
    height: 100px;
}

.header-name {
    display: flex;
    flex-direction: column;
    height: 100px;
    
}
.header-name  h1 {
  margin-top: -20px;
  font-size: 40px;
  margin-left: 15px;
  color: #EED6D3;
}

.header-name  h2 {
    font-size: 20px;
    color: #EED6D3;
}

/* End Of Header Section */
main h3 {
    text-align: center;
    font-size: 1.17em;
}
.controls-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.emotion-radios {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
}

.radio {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid black;
    width: 83%;
    
    padding: 20px;
    
}

input[type="radio"] {
    cursor: pointer;
}

.radio:last-child {
    border-bottom: 0px;
}

.highlight {
    background-color: #fff0ee;
    color: #bd301d;
    font-weight: bold;
    accent-color: #bd301d;
}

.gifs-only {
    margin-right: 15px;
}

.gifs-check {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.get-image-btn {
    background-color: #67595e;
    color: #EED6D3;
    padding: 20px;
    font-size: 40px;
    border: 0px;
    border-radius: 5px;
    transition: 1s ease-in-out;
}
.get-image-btn:hover {
    scale:calc(1.2);
    cursor: pointer;
}


/*-------------------*/

.meme-modal {
    display: none; /*flex when displayed*/
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #67595e;
    border-radius: 5px;
    width: 420px;
    height: 490px;
    background-color: #fff0ee;
}

.meme-modal-close-btn {
    position: absolute;
    margin: auto;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}

.meme-modal-close-btn:hover {
    background-color: #bd301d;
    border: 2px solid #bd301d;
    cursor: pointer;
}

.cat-img {
    width: 400px;
    height: 410px;
    border-radius: 5px;
}